<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="mainWrap" class="main_wrap">
      <!-- marquee start  -->
      <div class="marquee-box container" style="display: flex">
        <h4><i class="fa fa-microphone" aria-hidden="true"></i> News</h4>
        <div class="marquee">
          <div
            style="
              width: 100000px;
              transform: translateX(258px);
              animation: 3095.81s linear 0s infinite normal none running
                marqueeAnimation-2276167;
            "
            class="js-marquee-wrapper"
          >
            <div class="js-marquee" style="margin-right: 0px; float: left">
              <div id="hyperContent"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- marquee end  -->
      <div class="total_all">
        <div style="display: flex">
          <div class="search-wrap" id="userSearchUl">
            <div>
              <input
                class="search-input"
                type="text"
                name="userId"
                id="userId"
                placeholder="Find member..."
              />
              <button class="search-but" id="searchUserId">Search</button>
            </div>
          </div>
          <ul class="input-list" id="accountStatusUl">
            <li><strong>Status</strong></li>
            <li>
              <select class="" name="accountStatus" id="accountStatus">
                <option value="0">ACTIVE</option>
                <option value="1">SUSPENDED</option>
                <option value="2">LOCKED</option>
                <option value="-1">ALL</option>
              </select>
            </li>
          </ul>
        </div>
        <div>
          <span class="add_member" id="mySizeChart">
            <i class="fas fa-user-plus"></i>Add <span id="statusofuser"></span>
          </span>
          <span class="btn_replay">
            <i class="fas fa-redo-alt"></i>
          </span>
        </div>
      </div>
      <div id="totalBox" class="total_box">
        <dl id="totalBalanceDL" class="total_dl">
          <dt>Total Balance</dt>
          <dd>PBU <span id="totalBalance"></span></dd>
        </dl>
        <dl id="totalExposureDL" class="total_dl">
          <dt>Total Exposure</dt>
          <dd id="">
            PBU <span id="totalExposure" style="color: red"></span>
          </dd>
        </dl>
        <dl id="myCurrentPLDL" class="total_dl" style="display: none">
          <dt>Today P/L with Upline</dt>
          <dd id="myCurrentPL">PIN 0.00</dd>
        </dl>
        <dl id="availableBalanceDL" class="total_dl">
          <dt>Total Avail. bal.</dt>
          <dd>PBU <span id="totalAvailBal"></span></dd>
        </dl>
        <dl id="masterBalanceDL" class="total_dl">
          <dt>Balance</dt>
          <dd>PBU <span id="mastersBalance2"></span></dd>
        </dl>
        <dl id="masterAvailableBalanceDL" class="total_dl">
          <dt>Available Balance</dt>
          <dd>PBU <span id="mastersAvailBal"></span></dd>
        </dl>
        <dl
          id="transferablePLWithUplineDL"
          class="total_dl"
          style="display: none"
        >
          <dt>Transferable P/L with Upline</dt>
          <dd id="transferablePLWithUpline">PIN 0.00</dd>
        </dl>
        <dl id="transferablePLWithUplineDL" class="total_dl">
          <dt>Total Player Balance</dt>
          <dd id="totalpBal">PBU 165.00</dd>
        </dl>
      </div>
      <!-- Center Column -->
      <div id="widthAll" class="width-all" style="overflow-y: scroll; height: 59vh;">
        <table
          id="resultTable"
          class="table01 margin-table"
          style="display: table"
        >
          <thead>
            <tr>
              <th id="accountTh" width="" class="align-L" style="text-align: start;">Account</th>
              <th id="creditRefTh" width="10%">Credit Ref.</th>
              <th id="transferablePLTh" width="10%" style="display: none">
                Transferable P/L
              </th>
              <th id="balanceTh" width="10%">Balance</th>
              <th id="exposureTh" width="10%">Exposure</th>
              <th id="availableBalanceTh" width="10%">Avail. bal.</th>
              <!-- <th id="exposureLimitTh" width="10%" style="">Exposure Limit</th> -->
              <th id="playerBalanceTh" width="10%">Player Balance</th>
              <th id="refPLTh" width="10%">Ref. P/L</th>
              <th id="statusTh" width="10%">Status</th>
              <th id="actionTh" width="15%">Action</th>
            </tr>
          </thead>
          <tbody id="childs">
          </tbody>
        </table>
        <div id="paginationList" class="d-flex justify-content-center align-content-center">
          <ul class="pagination">
            <li class="page-item">
              <span class="page-link disabled" id="firstpage-btn">First</span>
            </li>
            <li class="page-item">
              <span class="page-link disabled" id="prev-btn">Previous</span>
            </li>
            <li class="page-item" >
              <span class="page-link" style="background-color: #ffc107;" id="page-btn"></span>
            </li>
            <li class="page-item" id="next-btn">
              <span class="page-link">Next</span>
            </li>
            <li class="page-item">
              <span class="page-link disabled" id="lastpage-btn">Last</span>
            </li>
          </ul>
          <div class="d-flex ms-2">
            <input type="number" style="width: 70px; height: 29px;" id="page-search">
            <button style="width: 50px; height: 29px; border-radius: 7px; border: none; margin-left: 5px; background-color: #ffc107; box-shadow: 1px 1px black;" onclick="pageFind()">Go</button>
          </div>
        </div>
      </div>
      <!-- Report Table -->
    </div>

    <div class="overlayBanking" id="overlayBankingPage"></div>
      <div id="popup" class="popup">
       <div class="d-flex justify-content-between align-items-center p-1 ps-3 pe-3 border border-bottom">
         <h2>Credit Reference Edit</h2>
         <span class="close" id="closeBtn">&times;</span>
       </div>
       <div class="p-1 ps-5 pe-5 pt-2 pb-1">
         <div class="d-flex justify-content-between align-items-center">
           <p>current : <span id="currentBalance"></span></p>
           <button class="logbutton" id="logbutton">Log</button>
         </div>
       <div class="d-flex justify-content-between align-items-center pt-2">
         <label for="field1">New</label>
       <input type="number" id="field1" placeholder="Enter"/>
       </div>
       <div class="d-flex justify-content-between align-items-center">
         <label for="field2">Password</label>
       <input type="password" id="field2" placeholder="Enter"/>
       </div>
       </div>
       <div class="text-center border border-top p-2">
         <button id="submitBtn">Submit</button>
       </div>
     </div>

     <div id="settingpopup" class="popup">
      <div class="d-flex justify-content-between align-items-center p-1 ps-3 pe-3 border border-bottom">
        <h2>Change Status</h2>
        <span class="close" id="settCloseBtn">&times;</span>
      </div>
      <div class="p-1 ps-5 pe-5 pt-2 pb-1">
        <div class="d-flex justify-content-between align-items-center">
         <div class="d-flex align-content-center"><span class="lv_4 text-center" style="background:#568BC8; padding:1px;">DIR</span> <p id="settUserid">userid</p></div>
          <p><strong id="currentStatus" class=""></strong></p>
        </div>
      <div class="d-flex justify-content-evenly align-items-center">
        <button class="status-active p-2" id="activeBtn"><img style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/128/6785/6785304.png" alt=""><p>Active</p></button>
        <button class="status-suspend p-2" id="suspendBtn"><img style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/128/2576/2576686.png" alt=""><p>Suspend</p></button>
        <button class="status-lock p-2" id="LockedBtn"><img style="width: 30px; height: 30px;" src="https://cdn-icons-png.flaticon.com/128/10464/10464776.png" alt=""><p>Locked</p></button>
      </div>
      </div>
      <div class="d-flex align-content-center border border-top p-2">
        <label class="mt-1" for="">Password</label>
        <input class="ms-3" type="password" id="settPasField" placeholder="Enter"/>
        <button style="height: 30px;" id="settSubmitBtn" class="websiteAdd ms-2">Change</button>
      </div>
    </div>
    
    <div class="footer_info">
      <div class="main_wrap">
        <ul class="action">
          <li class="bank">
            <p>
              <span><i class="fas fa-usd-circle"></i></span>Bank
            </p>
          </li>
          <li class="p_l">
            <p>
              <span
                ><i class="fas fa-long-arrow-up"></i
                ><i class="fas fa-long-arrow-down"></i></span
              >Betting Profit &amp; Loss
            </p>
          </li>
          <li class="betting_history">
            <p>
              <span><i class="fas fa-line-height"></i></span>Betting History
            </p>
          </li>
          <li class="profile">
            <p>
              <span><i class="fas fa-user-alt"></i></span>Profile
            </p>
          </li>
          <li class="status">
            <p>
              <span><i class="fas fa-cog"></i></span>Change Status
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div id="mySizeChartModal" class="ebcf_modal">

        <div class="ebcf_modal-content">
          <span class="ebcf_close"></span>
          <h3 id="createHeader">Add <span id="statusofUSER"></span></h3>
          <ul class="half_box add-member-box">
            <li class="add_account_box">
            
              <dl id="websiteField" class="d-flex">
                <dt>Select Website</dt>
                <dd>
                    <select class="addmaster-select" name="websites" id="websites">
                        <option value="" disabled selected>--Select Website--</option>
                    </select>
                    <span class="must">*</span>
                    <br>
                    <span id="websiteErrorText" class="error-text"></span>
                </dd>
            </dl>
                <dl>
                  <dt>Email</dt>
                  <dd>
                      <input id="email" type="email" placeholder="Enter here" maxlength="30">
                      <span class="must">*</span>
                      <br>
                      <span id="emailErrorText" class="error-text"></span>
                  </dd>
              </dl>
                <dl>
                    <dt>Username</dt>
                    <dd>
                        <input id="userName" type="text" placeholder="Enter here" maxlength="16">
                        <span class="must">*</span>
                        <br>
                        <span id="userNameErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Password</dt>
                    <dd>
                        <input id="userPassword" type="password" placeholder="Enter here">
                        <span class="must">*</span>
                        <br>
                        <span id="passwordErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl class="border_b">
                    <dt>Confirm Password</dt>
                    <dd>
                        <input id="repeatPassword" type="password" placeholder="Enter here">
                        <span class="must">*</span>
                        <br>
                        <span id="repeatPasswordErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl class="fname-top">
                    <dt>First Name</dt>
                    <dd>
                        <input id="firstName" type="text" placeholder="Enter here" maxlength="16">
                        <span class="must">*</span>
                        <br>
                        <span id="firstNameErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Last Name</dt>
                    <dd>
                        <input id="lastName" type="text" placeholder="Enter here" maxlength="16">
                        <br>
                        <span id="lastNameErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Phone</dt>
                    <dd>
                        <input id="phone" type="text" placeholder="Enter here" maxlength="10">
                        <span class="must">*</span>
                        <br>
                        <span id="phoneErrorText" class="error-text"></span>
                    </dd>
                </dl>
                
                <dl id="ExpoDiv" style="display:none">

                    <dt>Expo Limit</dt>
                    <dd>
                        <input id="expoLimit" type="number" placeholder="Enter here" value="">
                        <span class="must">*</span>
                         <span id="expoErrorText" class="error-text"></span>
                    </dd>
                </dl>
                
                <dl id="commDiv" style="display:none">

                    <dt>Commission(%)</dt>
                    <dd>
                        <input id="commission" type="number" placeholder="Enter here" value="">
                        <span class="must">*</span>
                         <span id="commErrorText" class="error-text"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Time Zone</dt>
                    <dd>
                        <select class="addmaster-select" name="timezone" id="timezone">

                            <option value="Pacific/Midway">Pacific/Midway(GMT-11:00)</option>

                            <option value="Pacific/Honolulu GMT-10:00">Pacific/Honolulu(GMT-10:00)</option>

                            <option value="America/Juneau GMT-9:00">America/Juneau(GMT-9:00)</option>

                            <option value="America/Los_Angeles GMT-8:00">America/Los_Angeles(GMT-8:00)</option>

                            <option value="America/Phoenix GMT-7:00">America/Phoenix(GMT-7:00)</option>

                            <option value="America/Chicago GMT-6:00">America/Chicago(GMT-6:00)</option>

                            <option value="America/New_York GMT-5:00">America/New_York(GMT-5:00)</option>

                            <option value="America/Santiago GMT-4:00">America/Santiago(GMT-4:00)</option>

                            <option value="America/Sao_Paulo GMT-3:00">America/Sao_Paulo(GMT-3:00)</option>

                            <option value="Atlantic/South_Georgia GMT-2:00">Atlantic/South_Georgia(GMT-2:00)</option>

                            <option value="Atlantic/Azores GMT-1:00">Atlantic/Azores(GMT-1:00)</option>

                            <option value="Europe/London GMT+0:00">Europe/London(GMT+0:00)</option>

                            <option value="Europe/Paris GMT+1:00">Europe/Paris(GMT+1:00)</option>

                            <option value="Africa/Cairo GMT+2:00">Africa/Cairo(GMT+2:00)</option>

                            <option value="Asia/Qatar GMT+3:00">Asia/Qatar(GMT+3:00)</option>

                            <option value="Asia/Dubai GMT+4:00">Asia/Dubai(GMT+4:00)</option>

                            <option value="Asia/Karachi GMT+5:00">Asia/Karachi(GMT+5:00)</option>

                            <option value="IST GMT+5:30">IST(Bangalore / Bombay / New Delhi) (GMT+5:30)
                            </option>

                            <option value="Asia/Kathmandu GMT+5:45">Asia/Kathmandu(GMT+5:45)</option>

                            <option value="Asia/Dhaka GMT+6:00" selected="selected">Asia/Dhaka(GMT+6:00)</option>

                            <option value="Asia/Bangkok GMT+7:00">Asia/Bangkok(GMT+7:00)</option>

                            <option value="Asia/Hong_Kong GMT+8:00">Asia/Hong_Kong(GMT+8:00)</option>

                            <option value="Asia/Tokyo GMT+9:00">Asia/Tokyo(GMT+9:00)</option>

                            <option value="Australia/Adelaide GMT+9:30">Australia/Adelaide(GMT+9:30)</option>

                            <option value="Australia/Melbourne GMT+10:00">Australia/Melbourne(GMT+10:00)</option>

                            <option value="Asia/Magadan GMT+11:00">Asia/Magadan(GMT+11:00)</option>

                            <option value="Pacific/Fiji GMT+12:00">Pacific/Fiji(GMT+12:00)</option>

                        </select>
                    </dd>
                </dl>
            </li> 
        </ul>
        <div class="btn_box disabled" style="cursor: pointer;" onclick="saveUser()">
            <a id="createBtn" class="btn-send">Create</a>
        </div>
        </div>
      
      </div>
  </body>
</html>
