<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
<head>
<meta charset="utf-8">
</head>
<body style="background-color: #f0ece1;">
    <div class="main_wrap">
        <div class="row adminsettmain p-2 pt-3">
            <p class="ms-2"><strong>Surveillance Settings</strong></p>
            <div class="col-md-12 d-flex">
                <img class="adminsettimg" src="https://ag.wonderbets.in/adminfiles/img/livemarketbet.png" alt="">
                <img class="adminsettimg" src="https://ag.wonderbets.in/adminfiles/img/betlockuser.png" alt="">
                <img class="adminsettimg" src="	https://ag.wonderbets.in/adminfiles/img/cheatbet.png" alt="">
                <img class="adminsettimg" src="https://ag.wonderbets.in/adminfiles/img/userpl.png" alt="">
                <img class="adminsettimg" src="https://ag.wonderbets.in/adminfiles/img/prematchpl.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>