<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
<head>
<meta charset="utf-8">
</head>
<body style="background-color: #f0ece1;">
    <div class="main_wrap">
        <div class="row adminsettmain p-2 pt-3">
            <div class="col-md-12 align-items-start">
                <p><strong>Set Important Upline Message For Users</strong></p>
               <textarea style="width: 323px; height: 102px; margin: 0;" id="messageValue"></textarea>
               <br>
                <button class="saveMessage mt-2" id="saveImpMessage">Save Message</button>
                <p class="mt-2"><strong>Current Message: </strong> <span class="h6"><strong id="impMessage"></strong></span></p>
            </div>
        </div>
    </div>
</body>
</html>