<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
<head>
<meta charset="utf-8">
</head>
<body style="background-color: #f0ece1;">
    <div class="main_wrap">
        <!-- agent path -->
        <div class="agent_path">
            <ul id="agentPath" class="agent_path-L">
                <li id="path3" class="last_li">
                    <a href="javascript: void(0);">
                        <span class="lv_3" id="accountSub">
                        </span>
                        <strong id="accountStatementOwner"></strong>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Agent Left Column -->
        <div class="col-left">
            <!-- Sub Menu and Path -->
            <div class="sub_path">
                <!-- Sub Menu -->
                <ul class="menu-list">
                  <li class="class">Position</li>
                  <li class="li-hover p-1" id="accountsummary" style="cursor: pointer;">Account Summary</li>
                  </li>
                  <li class="class">Account Details</li>
                  <li class="li-hover p-1" id="bettinghistory" style="cursor: pointer;">Betting History</li>
                  <li class="li-hover p-1" id="bettingprofitloss" style="cursor: pointer;">Betting Profit & Loss</li>
                  <li class="li-hover select p-1" id="transactionhistory" style="cursor: pointer;">Transaction History</li>
                  <li class="li-hover p-1" id="activitylog" style="cursor: pointer;">Activity Log</li>
              </ul>
            </div>
        </div>
        <!-- Center Column -->
        <div class="col-center report">
            <h2>Account Statement</h2>
            <table id="table_log" class="table01" style="overflow-y: scroll;">
                <thead style="height: 30px;">
                    <tr>
                        <th width="15%" class="align-L">Date/Time</th>
                        <th width="13%" class=align-R>Deposit From Upline</th>
                        <th width="13%" class=align-R>Deposit to Downline</th>
                        <th width="13%" class=align-R>WihtDraw By Upline</th>
                        <th width="16%" class=align-R>WithDraw From Downline</th>
                        <th width="8%" class=align-R>Balance</th>
                        <th width="8%" class=align-R>Remark</th>
                        <th width="18%" class=align-R>From/To</th>
                    </tr>
                </thead>
                <tbody id="content">
                </tbody>
            </table>
            <div id="paginationList" class="d-flex justify-content-center align-content-center">
                <ul class="pagination">
                  <li class="page-item">
                    <span class="page-link disabled" id="firstpage-btn">First</span>
                  </li>
                  <li class="page-item">
                    <span class="page-link disabled" id="prev-btn">Previous</span>
                  </li>
                  <li class="page-item">
                    <span class="page-link" style="background-color: #ffc107;" id="page-btn">1</span>
                  </li>
                  <li class="page-item" id="next-btn">
                    <span class="page-link">Next</span>
                  </li>
                  <li class="page-item">
                    <span class="page-link disabled" id="lastpage-btn">Last</span>
                  </li>
                </ul>
                <div class="d-flex ms-2">
                  <input type="number" style="width: 70px; height: 29px;" id="page-search">
                  <button style="width: 50px; height: 29px; border-radius: 7px; border: none; margin-left: 5px; background-color: #ffc107; box-shadow: 1px 1px black;" onclick="pageFind()">Go</button>
                </div>
              </div>
        </div>
    </div>
</body>
</html>