<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::body})">
<head>
<meta charset="utf-8">
</head>
<body style="background-color: #f0ece1;">
    <div class="main_wrap">
        <div class="row adminsettmain p-2 pt-3">
            <p class="ms-2"><strong>Manage Website Settings</strong></p>
            <div class="col-md-12 d-flex">
                <a href="/addwebsite"><img class="adminsettimg" src="https://ag.wonderbets.in/adminfiles/img/addweb.png" alt=""></a>
                <img class="adminsettimg" src="https://ag.wonderbets.in/adminfiles/img/managelinks.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>